<section id="main">
  <h1>{{model.name}}</h1>
  <h2>{{model.mission}}</h2>
  <p>{{model.description}}</p>
  <h3>Contact Information:</h3>
  <ul>
    <li>{{model.website}}</li>
    <li>{{model.address}}</li>
    <li>{{model.contact}}</li>
  </ul>
  <p>EIN: {{model.ein}}</p>
  <aside id="campaigns">
{{!--     {{#each campaign in model.campaigns}}
      <h1>{{campaign.name}}</h1>
      <h2>{{campaign.goal}}</h2>
      <p>{{campaign.description}}</p>
    {{/each}} --}}
  </aside>
</section>
